body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    max-width: 1200px;
   
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: white;
    padding: 0;
    margin: 0 auto;
    
}
h1 {
    font-size: 3.5em;
}
.wellcome_section {
    
    background-image: url(../img/wellcome.jpg);
    background-repeat: no-repeat;
    background-size: 1200px auto;
    background-size: cover;
    background-position: center;
    
    box-sizing: border-box;

}

/*=============Блок Bullets===============*/
.bullets {
    
    margin: 0 auto;
}
.container {
    padding: 25px;
    max-width: 1200px;
    margin: 0 auto;
}

.container .box {
    position: relative;
    margin-bottom: 30px;
    
}

.container .box .label {
    position: relative;
    padding: 20px;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid white;
}

.container .box .label::after {
    content: "...";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 25px;
   
}
.container .box .active .label::after {
    content: "\2014";
}
.container .box .content {
    position: relative;
    background-color: rgba(22, 21, 21, 0.856);
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
}
.container .box .content p {
    padding: 20px;
}

.container .box .label:hover {
    
    background-color: rgba(11, 66, 216, 0.267);

    transition: 1s;
    
}