body {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-size: 16px;
    line-height: 1.2;
    max-width: 1200px;
   
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    color: white;
    padding: 0;
    margin: 0 auto;
    
}
h1 {
    font-size: 3.5em;
}
button {
    
    width: 15em;
    height: 3em;
    color: white;
    background-color: black;
    border: 1px solid rgb(255, 255, 255);
    
}
button:hover {
    background-color: rgba(11, 107, 216, 0.404);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    transition: 1s;   
}
button:active {
    background-color: rgb(255, 251, 0);
    border: 1px solid rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    transition: 1s;   
    border: 5px;
}
.social_button {
    display: flex;
    width: 10em;
    height: 3em;
    justify-content: space-around;
    align-items: center;
    padding-top: 1em;
}


.wellcome_section {
    
    background-image: url(../img/wellcome.jpg);
    background-repeat: no-repeat;
    background-size: 1200px auto;
    background-size: cover;
    background-position: center;
    
    box-sizing: border-box;
padding-bottom: 1em;
}

/*=============Блок Bullets===============*/
.bullets {
    padding-top: 1em;
    margin: 0 auto;
}
.container {
    /*padding: 0px;*/
    max-width: 1200px;
    margin: 0 auto;
}

.container .box {
    position: relative;
    margin-bottom: 30px;
    
}

.container .box .label {
    position: relative;
    padding: 1em;
    background-color: rgb(0, 0, 0);
    color: rgb(255, 255, 255);
    cursor: pointer;
    border: 1px solid white;
}

.container .box .label::after {
    content: "...";
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    right: 20px;
    font-size: 15px;
   
}
.container .box .active .label::after {
    content: "\2014";
}
.container .box .content {
    position: relative;
    background-color: rgba(52, 49, 54, 0.466);
    overflow: hidden;
    max-height: 0;
    transition: 0.3s;
}
.container .box .content p {
    padding: 20px;
}

.container .box .label:hover {
    
    background-color: rgba(11, 107, 216, 0.404);

    transition: 1s;
    
}


@media screen and (max-width: 1024px){
    section {
        
        padding: 3%;
    }
    
}  
