html {
    font-family: 'Jost', sans-serif;
    padding: 0;
    margin: 0;
    scroll-snap-type: y mandatory;
    scroll-padding: 0 0 0 0;
    -webkit-overflow-scrolling: touch;
    background-color: black;
    box-sizing: border-box;


}
h1, h2 {
    font-size: 3.5em;
}

p {     
 font-size: 1.5em;
 }

.scroll_box {
    display: flex;
    flex-direction: column;   
}
section, footer {
    height: 100vh;
    padding: 0;
    scroll-snap-align: start;
    scroll-snap-stop: always; 
}
.nav_box{
    height: 40px;
    padding: 5px;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: rgb(0, 0, 0);
}
.header {
position: fixed;
top: 0;
width: 100%;
box-sizing: border-box;
z-index: 2;
}
.link a{
color: white;
text-decoration: none;
}
.bullet1 {
    /*padding: 50px 0;*/
    padding: 3em; /* Сверху | Справа | Снизу | Слева */
    background: rgb(64, 62, 62, 0.91);
    backdrop-filter: grayscale(1) contrast(3) blur(1px);
    box-shadow: 5px 2px 2px black;
    width: fit-content;
    color: white;
} 
.bullet_work {
    padding: 2em; /* Сверху | Справа | Снизу | Слева */
    background: rgb(64, 62, 62, 0.91);
    backdrop-filter: grayscale(1) contrast(3) blur(1px);
    box-shadow: 5px 2px 2px black;
    
    color: white; 
    font-size: 1em;
}
.boxx {
    
    display: flex;
}
.box_one {
    
}
.box_two {
   padding-left: 100px; 
}
.slide1 {
padding: 6em 3em;
background-image: url(img/slide1.jpg);
background-size: cover;
background-position: center;
}


.slide2 {
    padding: 6em 3em;
    background-image: url(img/slide2.jpg);
    background-size: cover;
    background-position: center;
    
    
    }
    .slide3 {
        padding: 6em 3em;
    background-image: url(img/slide3.jpg);
    background-size: cover;
    background-position: center;
        }
    .slide4 {
        padding: 5em 3em;   
    background-image: url(img/slide4.jpg);
    background-size: cover;
    background-position: center;
            }
    .slide5 {
    background-image: url(img/slide5.jpg);
    background-size: cover;
    background-position: center;
                }
.slide6 {

}
@media (max-width: 900px) {
h1, h2{ 
font-size: 2.5em;
}
p {     
font-size: 1em;
 }
.bullet1 {
padding: 1em; /* Сверху | Справа | Снизу | Слева */
} 
.boxx {
flex-direction: column;
}
}

@media (max-width: 420px) {
h1, h2{ 
font-size: 1.5em;
}
.box_two {
    padding-left: 0px; 
 }

}